<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         metadata-complete="false"
         version="6.0">
    <servlet>
        <servlet-name>AddMailServlet</servlet-name>
        <servlet-class>by.it_academy.jd2.Mk_jd2_111_25.AddMailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMailServlet</servlet-name>
        <url-pattern>/mail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddSongServlet</servlet-name>
        <servlet-class>by.it_academy.jd2.Mk_jd2_111_25.AddSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSongServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteSongServlet</servlet-name>
        <servlet-class>by.it_academy.jd2.Mk_jd2_111_25.DeleteSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSongServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSongsServlet</servlet-name>
        <servlet-class>by.it_academy.jd2.Mk_jd2_111_25.GetSongsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSongsServlet</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>

    <display-name>java-Enterprise-Assessment1</display-name>
</web-app>